.App {
  /* display:flex; */
}
.icons-component{
  /* width: 70px; */
}
.row {
  display:flex;
}
table{
  width:100%;
}
.img {
  margin:25px;
} 
#card-shadow {
  margin: 22px;
  margin-right: 3rem;
}
.card {
  border:0;
}
.icons-component {
  position:fixed;
}
.aboutus-component {
  position:fixed;
}
.scroll-component {
  background-color: #f0f0f0;
  /* overflow-y: scroll; */
  
}
.footer-component {
  background-color: #cf1322;
}
h2 {
  margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}
.overflow {
  /* overflow: inherit; */
  margin-bottom: 31px;
}